<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>DataSource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/DataSource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s2</servlet-name>
		<servlet-class>Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s3</servlet-name>
		<servlet-class>Sort</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s3</servlet-name>
		<url-pattern>/Sort</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s4</servlet-name>
		<servlet-class>SearchOnMultiple</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s4</servlet-name>
		<url-pattern>/SearchOnMultiple</url-pattern>
	</servlet-mapping>
	
	
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers
			</param-value>
		</init-param>

	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>f1</filter-name>
		<filter-class>SearchFilter</filter-class>		
	</filter>
	<filter-mapping>
		<filter-name>f1</filter-name>
		<url-pattern>/Search</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>f2</filter-name>
		<filter-class>SortFilter</filter-class>		
	</filter>
	<filter-mapping>
		<filter-name>f2</filter-name>
		<url-pattern>/Sort</url-pattern>
	</filter-mapping>
	
</web-app>